{% extends 'theme.html' %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card" style="width: 60%; margin: 20px">
        <div class="d-flex justify-content-center">
            <img class="card-img-top" src="/media/{{ photo.image }}" alt="{{ photo.title }}" style="width: 500px">
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ photo.title }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">Uploaded By: {{ photo.reporter.realName }}</p>
        </div>
    </div>
</div>

{% endblock content %}